.header{
    display: flex;
    border: #FE6314 solid 2px;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    width: 1440px;
    height: 100px;
}

.navigation-bar {
    display: flex;
    width:734px;
    height: 45px;
  }
  
  .nav-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    color: #FE6314;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 20px;
    align-items: center;

  }
  
  .nav-item:hover, .nav-item.selected {
    color: #2A5F3B;
  }
  
  .logo{
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  #signIn{
    color: #FE6314;
    font-weight: bold;
    width: 62px;
    height: 29px;
  }

  #signUp{
    color: white;
    background-color: #FE6314;
    font-weight: bold;
    width: 62px;
    height: 29px;
    border-radius: 5px;
  }
  .auth{
    display: flex;
  }